
// Fonts
@import url('https://fonts.googleapis.com/css?family=Tahoma');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Admin LTE
// @import '~/admin-lte/dist/css/adminlte.css';

// Font Awesome
// $fa-font-path: "/../../fonts";
// @import "node_modules/font-awesome/scss/font-awesome.scss";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.dropdown-menu-lg{
  min-width: 150px;
  max-width: 300px;
  padding: 0;
}
